<div class="status">
    <span>Đang xử lý</span>
</div>

<div class="coverImg">
  <img
    src="https://cdn.baogiaothong.vn/upload/images/2019-2/article_img/2019-04-18/chay-tai-cua-hang-xe-may-dien-o-hue-3-nguoi-trong-mot-gia-dinh-tu-vong-1-1555548299-width900height663.jpg"
  />

  <div class="department">
      <span>Trung tâm Môi trường Thành phố Huế</span>
  </div>
</div>

<h5 class="title">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum, velit?
</h5>

<span class="timespan"><strong>Ngày đăng bài:</strong> 10/10/2020</span>

<span class="description">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis soluta
  laborum reprehenderit veniam, perferendis in suscipit ex, eaque repudiandae
  aperiam nam ad temporibus dicta non nemo ipsum amet doloribus? A?
</span>

<div class="social">
  <span class="comment">
    <i class="far fa-comment"></i>
    Comment</span
  >
  <span class="subs"> <i class="far fa-heart"></i>Subscribe</span>
</div>
